---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="post-metadata-highlight">
    <img src="https://github.com/{{ page.author }}.png" alt="{{ page.author }}" class="post-author-profile-picture">
    <span>Author: <a href="https://github.com/{{ page.author }}" target="_blank">{{ page.author }}</a> &mdash; Created At: {{ page.created_at | date: "%Y-%m-%d %H:%M" }} &mdash; Language: <strong>{{ page.language }}</strong></span>
</div>

{{ content | markdownify }}

<script src="https://utteranc.es/client.js"
        repo="https://streetcommunityprogrammer.github.io/metaphore"
        issue-term="title"
        label="story::comment 💬"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
